extends layout

block content
  h1= title
  a(href="/login") Login

block footer
    .footer_admin(style="background-color: rgba(0, 0, 0, 0.05)") © 2023 Copyright: NoBody

script(src="/javascripts/index.js")